<!doctype html>
<title>User Explorer</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="center"><img src="/static/images/githublogo.png" alt="GitHub" style="width:215px;height:215px;"></div>

        <div class="form">
            <form>
                <div class="form-label">
                    Enter a GitHub username:
                </div>
                <input type="text" name="username">
                <input type="submit">
            </form>
        </div>

    {% if prediction %}
        <div class="pred">
            <div class="pred-lines">
                    <div class="pred-line"><br>Users most similar to <b>{{ username }}</b>:<br><br></div>
                {% for user in prediction %}
                   <div class="pred-line">{{user}} <a href="https://github.com/{{user}}"><b>  Link to Profile</b></a> <br><br> </div>
                {% endfor %}
            </div>
    </div>
    {% endif %}
</body>